:root {
  --main-bg: #f4f4f4;
  --secondary-bg: white;
  --tertiary-bg: #5551ff;
  --main-gap: 25px;
  --secondary-gap: 20px;
  --main-radius: 25px;
  --main-padding: 25px;
  --secondary-padding: 30px;
  --little-padding: 15px;
  --huge-padding: 50px;
  --button-padding: 12px;
  --button-radius: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Roboto, sans-serif, "Open Sans", "Helvetica Neue";
  background-color: var(--main-bg);
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  /*grid-template-rows: 1fr 4fr 3fr 1fr; */
  gap: var(--main-gap);
  padding: var(--main-padding);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

header,
aside,
section,
footer {
  background-color: var(--secondary-bg);
  border-radius: var(--main-radius);
}

header {
  grid-column: 2 / 4;
  display: grid;
  gap: var(--secondary-gap);
  padding: var(--main-padding);
  .header-first,
  .header-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .introduction {
    font-weight: bold;
    color: var(--tertiary-bg);
    font-size: 1.5rem;
  }
  .name {
    font-weight: bold;
    font-size: 2rem;
  }

  .header-search {
    display: flex;
    gap: 10px;
  }
}

aside {
  grid-row: 1 / 4;
  padding: var(--huge-padding) var(--secondary-padding);
  display: grid;
  gap: var(--main-gap);
}

.aside_header {
  display: flex;
  align-items: center;
  gap: var(--secondary-gap);
  h1 {
    font-size: 2rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

a img {
  margin-right: 10px;
}

a:hover {
  color: var(--tertiary-bg);
}

.update_pro {
  background-color: black;
  border-radius: var(--main-radius);
  color: var(--main-bg);
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-weight: lighter;
  }
}

main {
  grid-row: 2/4;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--main-gap);
}

.projects {
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: var(--secondary-gap);
  .projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 2rem;
      span {
        color: var(--tertiary-bg);
      }
    }
  }
  .projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--main-gap);
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: var(--main-radius);
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    padding: var(--little-padding);
    p {
      color: #c2c2c2;
    }
    .programming {
      display: flex;
      gap: 10px;
    }

    .html,
    .css,
    .js {
      padding: 2px 6px;
      border-radius: var(--main-radius);
      font-weight: bold;
    }
    .html {
      color: red;
      background-color: #ffd8d8;
    }
    .js {
      color: #ffc700;
      background-color: #fff3c7;
    }
    .css {
      color: #0fa958;
      background-color: #d6ffe9;
    }
  }
}

.announcements,
.trending {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--main-padding);
  .mini-box-header {
    display: flex;
    justify-content: space-between;
  }
  .mini-box-header-titles {
    > p {
      font-weight: lighter;
    }
  }
  .announcements-content {
    h4 {
      font-size: 1.3rem;
    }
    p {
      color: #c2c2c2;
    }
  }
}

.separator {
  width: 100%;
  border: 1px solid black;
}

button {
  background-color: var(--tertiary-bg);
  border: none;
  color: var(--main-bg);
  padding: var(--button-padding) var(--secondary-padding);
  cursor: pointer;
  border-radius: var(--button-radius);

  &:hover {
    background-color: #403dbd;
  }
}

input {
  background-color: #f3f3f3;
  border: 3px solid #b6b6b6;
  border-radius: var(--button-radius);
  width: 500px;
}

footer {
  grid-row: 4;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span,
aside span {
  color: var(--tertiary-bg);
}
