:root {
  --main-bg: #f4f4f4;
  --secondary-bg: white;
  --tertiary-bg: #5551ff;
  --main-gap: 25px;
  --secondary-gap: 20px;
  --main-radius: 25px;
  --main-padding: 25px;
  --secondary-padding: 30px;
  --huge-padding: 50px;
  --button-padding: 12px;
  --button-radius: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Roboto, sans-serif, "Open Sans", "Helvetica Neue";
  background-color: var(--main-bg);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 3fr 1fr;
  gap: var(--main-gap);
  padding: var(--main-padding);
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

header,
aside,
section,
footer {
  background-color: var(--secondary-bg);
  border-radius: var(--main-radius);
}

header {
  grid-column: 2 / 4;
}

aside {
  grid-row: 1 / 4;
  padding: var(--huge-padding) var(--secondary-padding);
  display: grid;
  gap: var(--main-gap);
}

.aside_header {
  display: flex;
  align-items: center;
  gap: var(--secondary-gap);
}

.surprise {
  position: absolute;
  top: 6%;
  left: 23%;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

a img {
  margin-right: 10px;
}

a:hover {
  color: var(--tertiary-bg);
}

.update_pro {
  background-color: black;
  border-radius: var(--main-radius);
  color: var(--main-bg);
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.update_pro p {
  font-weight: lighter;
}

button {
  background-color: var(--tertiary-bg);
  border: none;
  color: var(--main-bg);
  padding: var(--button-padding) var(--secondary-padding);
  cursor: pointer;
  border-radius: var(--button-radius);
}

footer {
  grid-row: 4;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span,
aside span {
  color: var(--tertiary-bg);
}
